body,html{
    height: 100%;
    margin: 0;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    line height: 1.5cm ;
    color: #666;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-position: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
}



.pimg1{
    background-image: url(./pexels-marc-mueller-380768.jpg);
    min-height: 100%;

}
.pimg2{
    background-image: url(./pexels-cameron-casey-1722183.jpg);
    min-height: 400px;
}

.pimg3{
    background-image: url(./pexels-jiarong-deng-1034662.jpg);
    min-height: 400px;

}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: firebrick;
    color: beige
}

.section-dark{
    background-color: rgb(255, 0, 140);
    color: rgb(243, 244, 245);
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 25px;
    letter-spacing: 8px;
    text-transform: uppercase  ;
}

.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}
.ptext .border.trans{
    background-color: transparent;
}

@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment:scroll; 
    }
}